@model List<WebMN.Entities.ProductoEnt>

@{
    ViewBag.Title = "ConsultaProductos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="background-image: url('@Url.Content("~/template/images/post.jpg")'); background-size: cover; background-position: center center; background-repeat: no-repeat; height: 100vh;">
</div>

<div style="max-width: 800px; margin: 0 auto; text-align: center; padding: 20px;">
    <h1 style="font-family: Arial Black, sans-serif; font-size: 80px; margin: 40px;">SUPLEMENTICOS</h1>


    <img src="@Url.Content("~/template/images/post.jpg")" style="width: 100%; margin: 20px;" alt="Descripción de la imagen">

    <img src="@Url.Content("~/template/images/frase-motivacion.jpg")" style="width: 100%; margin: 20px;" alt="Descripción de la imagen">
</div>
<p style="font-family: Arial, sans-serif; font-size: 15px; text-align: left; margin: 30px;">
    Nos dedicamos apasionadamente a mejorar la salud y el rendimiento de nuestros clientes a través de una amplia gama de productos de alta calidad.
    Somos líderes en el mercado de suplementos deportivos, ofreciendo una variedad excepcional de productos diseñados para satisfacer las necesidades de atletas y entusiastas del fitness.
    Nuestra especialización incluye proteínas en polvo de la más alta calidad, que abarcan desde fuentes de suero hasta opciones de origen vegetal, proporcionando a nuestros clientes
    opciones variadas para sus objetivos de entrenamiento. Además de nuestras excelentes proteínas, también ofrecemos accesorios de entrenamiento de vanguardia y shakes nutricionales diseñados para potenciar el rendimiento y la recuperación.
    Nos enorgullece proporcionar productos que no solo cumplen con los estándares más exigentes de la industria, sino que también se adaptan a las necesidades específicas de cada individuo.
    Desde los atletas de élite hasta aquellos que buscan mejorar su bienestar general, en Suplementicos encontrarán la calidad y la excelencia que buscan.
</p>

<p style="font-family: Arial, sans-serif; font-size: 15px; text-align: left; margin: 30px;">
    No nos limitamos solo al ámbito deportivo, sino que también ofrecemos una línea completa de suplementos diseñados para adultos, brindando apoyo nutricional para una vida saludable y activa.
    Nuestra misión es simple pero poderosa: proporcionar a nuestros clientes los recursos necesarios para alcanzar sus metas de acondicionamiento físico y bienestar, respaldados por productos confiables y
    un compromiso inquebrantable con la satisfacción del cliente. En Suplementicos, no solo vendemos suplementos; nos esforzamos por ser un socio en el viaje de cada persona hacia un estilo de vida más saludable y activo.
    Explore nuestra gama de productos, sumérjase en la calidad que ofrecemos y únase a nuestra comunidad de individuos comprometidos con la excelencia en la salud y el rendimiento. ¡Descubra la diferencia
    con Suplementicos hoy mismo!
</p>

</div>
